<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Home</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
          <a
            class="nav-link"
            data-widget="navbar-search"
            href="#"
            role="button"
          >
            <i class="fas fa-search"></i>
          </a>
          <div class="navbar-search-block">
            <form class="form-inline">
              <div class="input-group input-group-sm">
                <input
                  class="form-control form-control-navbar"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <div class="input-group-append">
                  <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                  <button
                    class="btn btn-navbar"
                    type="button"
                    data-widget="navbar-search"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-widget="control-sidebar"
            data-slide="true"
            href="#"
            role="button"
          >
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light"
          >ሀገርኛ Appstore | Developer</span
        >
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h4>Application Detail Dashboard</h4>
            </div>
          </div>
          <div class="row">
            <div class="card col-md-8" style="margin-left: 200px">
              <div class="card-widget widget-user embed-responsive-item">
                <img
                  src="<%= appData.featureGraphicsURL %>"
                  class="card-img elevation-2"
                  alt="feature graphics"
                  width="100%"
                  height="200px"
                />
              </div>
              <div class="card-body">
                <span
                  ><img
                    class="img-circle elevation-2"
                    id="image-circle"
                    width="100px"
                    height="100px"
                    src="<%= appData.appIconURL %>"
                    alt="User Avatar"
                /></span>
                <h5 style="text-align: center"><%= appData.appName %></h5>
                <hr />
                <h6>
                  Before we get started on number one, we'll need some Sequelize
                  models to work with. For those new to ORMs, a model
                  corresponds to a database table, but it doesn't have to be an
                  exact match; it's okay to use only a limited number of columns
                  in your model. That said, know you may use fewer of a table's
                  columns in a Sequelize model, but you cannot use more.
                </h6>
              </div>
            </div>
          </div>

          <!-- LINE CHART -->
          <div class="row">
            <div class="col-7">
              <div class="card" style="margin-left: 50px">
                <div class="card-header">
                  <h3 class="card-title">Total Download</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="myChart" style="max-width: 100%"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row"> -->
            <div class="col-4">
              <div class="row">
                <div class="card col-12 bg-default">
                  <div class="card-body">
                    <div style="text-align: center">
                      <!-- <span> -->
                      <div
                        class="col-6 col-md-3 text-center"
                        style="margin-left: 140px"
                      >
                        <input
                          type="text"
                          class="knob"
                          value="<%= appAPK.apkSize %>"
                          data-width="80"
                          data-height="80"
                          data-fgColor="#3c8dbc"
                        />
                      </div>
                      <!-- </span> -->
                      <span
                        ><div class="knob-label">Android APK Size</div></span
                      >
                      <span
                        class="info-box-number"
                        style="color: rgb(50, 50, 238)"
                        ><%= appAPK.apkSize %> MB</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <!-- <div class="col-5"> -->
              <div class="info-box col-12 bg-default">
                <span class="info-box-icon"
                  ><i class="fas fa-star" style="color: orange"></i
                ></span>

                <div class="info-box-content">
                  <span class="info-box-text">Total Application Rating</span>
                  <span class="info-box-number">92</span>
                </div>
              </div>
              <hr />
              <div class="info-box col-12 bg-default">
                <span class="info-box-icon"
                  ><i
                    class="fas fa-comment"
                    style="color: rgb(54, 40, 255)"
                  ></i
                ></span>
                <div class="info-box-content">
                  <span class="info-box-text">Total Application Comments</span>
                  <span class="info-box-number"><%= totalComment %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content" style="margin-left: 50px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">List of comments in App</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body clearfix">
                  <% if(appComments.length > 0) { %> <% for(let appComment of
                  appComments ) { %>
                  <blockquote class="quote-secondary">
                    <p><%= appComment.comment %></p>
                    <small
                      ><cite title="Source Title"
                        >Commented At: <%=
                        moment(appComment.createdAt).format('DD MMMM, YYYY'); %>
                        EC.
                      </cite></small
                    ><br />
                    <small
                      >By: <cite title="Source Title">yididiya</cite></small
                    >
                  </blockquote>
                  <% } %><% } %>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('includes/footer.ejs') %>
    <script>
      var ctx = document.getElementById("myChart").getContext("2d");
      var myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </div>
</body>
