<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light"
          >ሀገርኛ Appstore | Developer</span
        >
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-info"
                  ><i class="fab fa-android"></i
                ></span>

                <div class="info-box-content">
                  <span class="info-box-text">Published Apps</span>
                  <span class="info-box-number"><%= totalPublishedApps %></span>
                </div>
                <span class="info-box-icon"><img src="img/sefed1.jpg" /></span>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"
                  ><i class="far fa-flag"></i
                ></span>

                <div class="info-box-content">
                  <span class="info-box-text">Rejected App</span>
                  <span class="info-box-number">3</span>
                </div>
                <span class="info-box-icon"><img src="img/sefed2.jpg" /></span>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-warning"
                  ><i class="fas fa-upload"></i
                ></span>

                <div class="info-box-content">
                  <span class="info-box-text">Uploads</span>
                  <span class="info-box-number">4</span>
                </div>
                <span class="info-box-icon"><img src="img/sefed3.jpg" /></span>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-danger"
                  ><i class="fas fa-download"></i
                ></span>

                <div class="info-box-content">
                  <span class="info-box-text">Downloads</span>
                  <span class="info-box-number">6</span>
                </div>
                <span class="info-box-icon"><img src="img/sefed4.jpg" /></span>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Default box -->

              <hr />
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">App List Dashboard</h3>
                  <div class="card-tools">
                    <div class="row">
                      <small style="margin-right: 10px; font-style: inherit">
                        <span class="float-right badge bg-info">
                          Start creating your amazing application!</span
                        >
                      </small>
                      <a
                        class="btn btn-primary"
                        style="margin-right: 10px; width: 200px"
                        href="/create.app"
                      >
                        <b>Create App</b>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-body p-0">
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>App Name</th>
                          <th># Download</th>
                          <th>Status</th>
                          <th>Published At</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(appsList.length > 0) { %> <% for(let app of
                        appsList ) { %>
                        <tr>
                          <td><%= app.appID %></td>
                          <td>
                            <% if(app.isPublished == true) {%>
                            <img
                              src="<%= app.appIcon %>"
                              width="50px"
                              height="50px"
                            />
                            <% }else{ %>
                            <img
                              src="<%= path %><%= app.appIcon %>"
                              width="50px"
                              height="50px"
                            />
                            <% } %> <% if(app.isPublished == true) {%>
                            <a href="/app.detail/<%= app.appID %>"
                              ><%= app.appName %></a
                            >
                            <% }else{ %>
                            <button
                              data-toggle="modal"
                              data-target="#modal-lg"
                              style="
                                background-color: transparent;
                                border: none;
                                color: blue;
                              "
                            >
                              <%= app.appName %>
                            </button>
                            <% } %>
                          </td>
                          <td><%= app.downloads %></td>
                          <td><%= app.appStatus %></td>
                          <td>
                            <%= moment(app.createdAt).format('Do MMMM, YYYY');
                            %>
                          </td>
                          <td>
                            <form
                              action="/deleteApp/<%= app.appID %>"
                              method="POST"
                            >
                              <% if(app.isPublished === true) {%>
                              <button
                                type="submit"
                                class="btn btn-danger"
                                disabled
                              >
                                <i class="fa fa-trash"></i>
                              </button>
                              <a
                                class="btn btn-info"
                                href="javascript:void(0)"
                                style="cursor: default"
                              >
                                <i class="fas fa-edit"></i>
                              </a>
                              <a
                                class="btn btn-warning"
                                href="javascript:void(0)"
                                title="APK Editing"
                                style="cursor: default"
                              >
                                <i class="fas fa-edit"></i>
                              </a>
                              <% } else{ %>
                              <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                              </button>
                              <a
                                href="/edit.storeListing/<%= app.appID %>?edit=true"
                                class="addMore btn btn-info"
                                title="App Store Editing"
                              >
                                <i class="fas fa-edit"></i>
                              </a>
                              <a
                                href="/edit.apkDetail/<%= app.appID %>?edit=true"
                                class="addMore btn btn-warning"
                                title="APK Detail Editing"
                              >
                                <i class="fas fa-edit"></i>
                              </a>
                              <% } %>
                            </form>
                          </td>
                        </tr>
                        <% } %> <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>

    <!-- /.modal -->

    <div class="modal fade" id="modal-lg">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" style="color: red"><b>Error</b></h3>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>Please Fill all the Form!! and publish the app.</h4>
          </div>
        </div>
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('includes/footer.ejs') %>
  </div>
</body>
