<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light"
          >ሀገርኛ Appstore | Developer</span
        >
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h3>Main Store Listing Dashboard</h3>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <form
                method="post"
                action="/<% if(editing) {%>edit.createApp <% }else{ %>app.storeList <% } %>"
                class="form-horizontal"
                enctype="multipart/form-data"
              >
                <div class="form-group row" style="margin-left: 900px">
                  <h5>Select App</h5>
                  <div class="col-md-7">
                    <select
                      class="form-control select2"
                      style="width: 100%"
                      name="Application"
                    >
                      <form action="/edit.storeListing" method="POST">
                        <% if(Apps.length > 0) { %> <% for(let App of Apps ) {
                        %>
                        <option
                          value="<% if (editing) { %><%= editApp.appID %><% }else {%> <%= App.appID %> <% } %>"
                        >
                          <% if (editing) { %><%= editApp.appName %><% }else {%>
                          <%= App.appName %> <% } %>
                        </option>
                        <% } %><% } %>
                      </form>
                    </select>
                  </div>
                </div>
                <br />
                <div class="card card-info card-outline">
                  <div class="card-header">
                    <h3 class="card-title">App Detail</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="Application" class="col-sm-2 col-form-label"
                        >App Name</label
                      >
                      <div class="col-md-8">
                        <select
                          class="form-control select2"
                          style="width: 100%"
                          name="appName"
                        >
                          <% if(Apps.length > 0) { %> <% for(let App of Apps ) {
                          %>
                          <option
                            value="<% if (editing) { %><%= editApp.appName %><% }else {%> <%= App.appName %> <% } %>"
                          >
                            <% if (editing) { %><%= editApp.appName %><% }else
                            {%> <%= App.appName %> <% } %>
                          </option>
                          <% } %><% } %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="inputPassword3"
                        class="col-sm-2 col-form-label"
                        >Short Description</label
                      >
                      <div class="col-md-8">
                        <textarea
                          type="text"
                          name="shortDescription"
                          class="form-control"
                          rows="3"
                          id="shortDescription"
                        >
<% if (editing) { %><%= editApp.shortDescription %> <% } %></textarea
                        >
                        <small for="appname"
                          >Here write precise short description of your app
                          maximum word allowed is 200.
                        </small>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="inputPassword3"
                        class="col-sm-2 col-form-label"
                        >Long Description</label
                      >
                      <div class="col-sm-8">
                        <textarea
                          type="text"
                          name="longDescription"
                          class="form-control"
                          rows="5"
                          id="longDescription"
                        >
<% if (editing) { %><%= editApp.longDescription %> <% } %> </textarea
                        >
                        <small for="appname"
                          >Here write full description of your app maximum word
                          allowed is 200.
                        </small>
                      </div>
                    </div>

                    <br /><br />
                    <h3>Graphics</h3>
                    <hr />
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">App Icon</label>
                      <div class="col-sm-8">
                        <div class="form-control custom-file">
                          <input
                            type="file"
                            name="appIcon"
                            accept="image/*"
                            class="custom-file-input"
                            id="appIcon"
                            value="<% if(editing) { %><%= editApp.appIconURL %> <% } %>"
                          />
                          <label class="custom-file-label" for="customFile"
                            >Choose file</label
                          >
                          <small for="appIcon"
                            >Your app icon is shown in hagerigna appstore.
                            <br />
                            Transparent PNG or JPG <br />
                            512 px by 512 px
                          </small>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group row">
                      <label class="col-sm-2 col-form-label"
                        >Feature Graphics</label
                      >
                      <div class="col-sm-8">
                        <div class="form-control file-upload-wrapper">
                          <input
                            type="file"
                            name="appFeatureGraphics"
                            id="input-file-now-custom-1"
                            class="file-upload"
                            accept="image/*"
                            data-default-file="https://mdbootstrap.com/img/Photos/Others/images/89.jpg"
                          />
                        </div>
                      </div>
                    </div> -->
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"
                        >Feature Graphics</label
                      >
                      <div class="col-sm-8">
                        <div class="form-control custom-file">
                          <input
                            type="file"
                            name="appFeatureGraphics"
                            class="custom-file-input"
                            id="featureGraphics"
                            accept="image/*"
                          />
                          <label class="custom-file-label" for="customFile"
                            >Choose file</label
                          >
                          <small for="featureGraphics"
                            >This will help promote your app in hagerigna
                            appstore. <br />
                            Transparent PNG or JPG <br />
                            1024 px by 500 px
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="videoURL" class="col-sm-2 col-form-label"
                        >Video URL</label
                      >
                      <div class="col-md-8">
                        <input
                          type="text"
                          name="videoURL"
                          size="50"
                          class="form-control"
                          id="videoURL"
                          value="<% if(editing) { %><%= editApp.videoURL %> <% } %>"
                        />
                        <small for="videoURL"
                          >Short video Description of your app.
                        </small>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"
                        >Phone Screenshots</label
                      >
                      <div class="col-sm-8">
                        <div class="form-control custom-file">
                          <input
                            type="file"
                            name="phoneScreenshoot1"
                            class="custom-file-input"
                            id="phoneScreenshots"
                            accept="image/*"
                            multiple
                          />
                          <label
                            class="custom-file-label"
                            for="phoneScreenshots"
                            >Choose file</label
                          >
                          <small for="phoneScreenshots"
                            >Upload a phone Screenshots of the app
                          </small>
                        </div>
                       
                      </div>
                    </div>
                     <div class="form-group row">
                       <label class="col-sm-2 col-form-label"
                        ></label
                      >
                      <div class="col-sm-8">
                        <div class="form-control custom-file">
                          <input
                            type="file"
                            name="phoneScreenshoot2"
                            class="custom-file-input"
                            id="phoneScreenshots"
                            accept="image/*"
                            multiple
                          />
                          <label
                            class="custom-file-label"
                            for="phoneScreenshots"
                            >Choose file</label
                          >
                          <small for="phoneScreenshots"
                            >Upload a phone Screenshots of the app
                          </small>
                        </div>
                       
                      </div>
                    </div>
                     <div class="form-group row">
                      <label class="col-sm-2 col-form-label"
                        ></label
                      >
                      <div class="col-sm-8">
                        <div class="form-control custom-file">
                          <input
                            type="file"
                            name="phoneScreenshoot3"
                            class="custom-file-input"
                            id="phoneScreenshots"
                            accept="image/*"
                            multiple
                          />
                          <label
                            class="custom-file-label"
                            for="phoneScreenshots"
                            >Choose file</label
                          >
                          <small for="phoneScreenshots"
                            >Upload a phone Screenshots of the app
                          </small>
                        </div>
                       
                      </div>
                    </div>
                    <div class="float-right">
                      <button type="submit" class="btn btn-info">Create</button>
                      |
                    </div>
                    <!-- /.card-footer -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer"></div>
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('includes/footer.ejs') %>
  </div>
</body>
