<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
       <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar elevation-1">
      <a href="#" class="brand-link">
        <span
          class="brand-text font-weight-light"
          style="color: rgb(219, 142, 42); font-style: italic; font-size: larger"
          ><b>ሀገርኛ AppStore</b></span
        >
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
          <div class="col col-md-6 card" style="margin-top: 40px;margin-left:90px;">
            <div class="row">
              <div class="col" style="margin-left: 20px;">
                   <img
                  src="<%= publishedAPP.appIcon %>"
                  width="200px"
                  height="200px"
                  alt="app logo"
                /> 
              </div>
              <div class="col-md-7">
                  <div class="col" >
                   <div class="row"><h3><%= publishedAPP.appName %></h3></div>
                   <div class="row"><h5>Kingsoft Apps</h5></div>
                   <div class="row">App Size: 20MB</div>
                   <div class="row">This app is available for all devices</div>
                   <div class="row"><b> Add To Wishlist</b></div>
                   <!-- <form action="" method="POST"> -->
                   <a type="submit" href="/userDownloadAPK/<%= publishedAPK.appID %>" class="btn btn-primary btn-sm" style="margin-top: 10px;width: 300px;">Download APK</a>
                   <!-- </form> -->
                  </div>
              </div>
            </div> 
            <hr>
            <h6>Screenshoots</h6>
            <div class="row" style="margin-top: 20px;">
             <div style="float: left;">
              <img src="<%= storedAPP.phoneScreeenshootURL1 %>"  class="elevation-2" alt="phone screenshots" width="200px" height="400px">
            </div>
            </div> 
            <hr>
            <div style="margin-top: 20px;">
              <%= storedAPP.longDescription %>
            </div>
            <div style="margin-top: 70px;">
              <div>
              <button class="btn btn-info" data-toggle="modal" data-target="#modal-lg"><i class="fa fa-comment"> Comment</i> </button>
               <button class="btn btn-warning" data-toggle="modal" data-target="#modal-default"><i class="fa fa-star" style="color: #fff;"> Rate</i> </button>
            </div>
              <h3>Comments</h3>
              <hr>
          <% if(comments.length > 0) { %> <% for(let appComment of
            comments ) { %>
              <div class="row mb-2">
               <div class="col-12">
            <blockquote class="quote-secondary">
             <p><%= appComment.comment %></p>
             <p><cite>By: <%= appComment.fullName %></cite></p>
             <button class="btn btn-default"><i class="fa fa-reply"></i></button>
            </blockquote>
            <hr>
            </div>
            </div>
            <% } %><% } %>
            </div>  
          </div>
        
        <div class="col" style="margin-top: 100px;">
          <div class="row col-md-8 col-sm-7 col-12" style="margin-left: 40px;margin-top: 10px;">
            <h3>See More Apps</h3>
            <% if(otherApps.length > 0) { %> <% for(let app of otherApps ) { %>
              <div class="info-box">
            <img src="<%= app.appIconURL %>" width="110px" height="110px" alt="app logo" />
                <div class="info-box-content">
                  <span class="info-box-text"><b><%= app.appName %></b></span>
                  <small><%= app.shortDescription %></small>
                </div>
                <!-- /.info-box-content -->
              </div>
              <% } %><% } %>
              <!-- /.info-box -->
            </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    </div>
    <!-- /.content-wrapper -->
      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title">Add Comment</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body"> 
              <form action="/add.comment/<%= storedAPP.appID %>" method="POST">
              <textarea id="summernote" class="form-control" placeholder="Add comment here..." name="comment" rows="6">
              </textarea>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Reply</button>
            </div>
            </form>
          <!-- /.modal-content -->
             </div>
          </div>
        </div>
        <!-- /.modal-dialog -->
      </div>

        <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Rating</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div style="color: orange;margin-left: 30%;">
                <i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-half fa-2x"></i>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-warning" style="color: #fff;">Rate</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    <%- include('includes/footer.ejs') %>
  </div>
</body>
