<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
     <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar elevation-1">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">User</span>
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h3>AR Games</h3>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
              <% if(gameList.length > 0) { %> <% for(let game of
            gameList ) { %>
               <div class="card">
              <div class="card-header">
                <img
                  src="<%= game.appIcon %>"
                  width="212px"
                  height="212px"
                  alt="app logo"
                />
              </div>
              <div class="card-body">
                <p>App Name: <%= game.appName %></p>
                <p>By: <%= game.developer.fullName %></p>
                <div class="row" style="color: orange">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
            <% } %><% } %>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('includes/footer.ejs') %>
  </div>
</body>
