<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">Super Admin</span>
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h3>App Questionary</h3>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <%- include('includes/topData.ejs') %>
          <div class="row">
            <div class="col-12">
              <!-- Default box -->
              <button
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#modal-lg"
              >
                Add New Questionary</button
              ><br /><br /> 
              <div
                class="card card-primary card-outline"
                style="margin-top: 10px"
              >
                <div class="card-header">
                  <% if(questionaries.length > 0) { %> <% for(let appQuestion of
                  questionaries ) { %>
                  <h5 class="card-title w-100">
                    <%= appQuestion.id %>. <%= appQuestion.question %>
                    <form
                      action="/deleteQuestions/<%= appQuestion.id %>"
                      method="POST"
                    >
                      <button type="submit" class="btn btn-danger float-right">
                        <i class="fa fa-trash"></i>
                      </button>
                    </form>
                  </h5>
                  <br />
                  <hr />
                  <% } %><% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-lg">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title">Add Questionary</h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/admin.addQuestionary" method="POST">
              <input
                type="text"
                class="form-control"
                placeholder="Enter here ..."
                name="questionary"
              /><br />

              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Save & Send
                </button>
              </div>
            </form>
            <!-- /.modal-content -->
          </div>
        </div>
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <%- include('includes/footer.ejs') %>
  </div>
</body>
