<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">Super Admin</span>
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <%- include('includes/topData.ejs') %>
          <div class="row mb-2">
            <div class="col-sm-6">
              <h3>List of Developers</h3>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body table-responsive p-0">
                  <table class="table table-striped table-valign-middle">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Company Name</th>
                        <th>City</th>
                        <th>Developer Type</th>
                        <th>No. of Apps</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(developers.length > 0) { %> <% for(let developer of
                      developers ) { %>

                      <tr>
                        <td>1</td>
                        <td><%= developer.fullName %></td>
                        <td><%= developer.Email %></td>
                        <td><%= developer.phoneNumber %></td>
                        <td><%= developer.companyName %></td>
                        <td><%= developer.city %></td>
                        <td><%= developer.developerType %></td>
                        <td>10</td>
                        <td>
                          <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <% } %> <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('includes/footer.ejs') %>
  </div>
</body>
