<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
   <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">Super Admin</span>
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h3>Policy and Legal Regulation Dashboard</h3>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <%- include('includes/topData.ejs') %>
          <div class="row">
            <div class="col-12">
              <!-- Default box -->
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal-lg">
                Add New Policy | Legal Regulation</button
              ><br /><br /> 
        <% if(policyList.length > 0) { %> <% for(let policy of policyList ) { %>
              <div class="card card-primary card-outline" style="margin-top: 10px;">
                  <div class="card-header">
                    <h4 class="card-title w-100" style="color: rgb(17, 0, 255);">
                     <%= policy.policyTitle %>
                    </h4>
                    </div>
                </a>
                <div
                  id="collapseOne"
                  class="collapse show"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                   <%= policy.policyContent %> 
                  </div>
                </div>  
              </div> 
              <div class="row col-sm-4"> 
              <button class="btn btn-info" data-toggle="modal" data-target="#edit-modal"> Edit </button> |  
              <form action="/deletePolicy/<%= policy.id %>" method="POST">
                <button class="btn btn-danger" type="submit">Delete</button> 
              </form>
              </div> 
                 <hr>  
        <% } %> <% } %>
              <!-- /.card -->
             
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
     <!-- /.modal -->

      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title">Add Policy and Regulation Statement</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
            <div class="modal-body"> 
              <form action="/admin.addPolicy" method="POST">
              <input type="text" class="form-control" placeholder="Enter a title" name="title"><br>
              <textarea id="summernote" class="form-control" name="content" rows="12">
               Add Policy and Regulation Here ...
              </textarea>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save & Send</button>
            </div>
            </form> 
             </div>
          </div>
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <div class="modal fade" id="edit-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title">Edit Policy</h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/edit.policy" method="POST">
               <textarea class="form-control" name="content" rows="6">
                
              </textarea><br />

              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                Save
                </button>
              </div>
            </form>
            <!-- /.modal-content -->
          </div>
        </div>
      </div>
      <!-- /.modal-dialog -->
    </div>
    <%- include('includes/footer.ejs') %>
  </div>
<script>
  $(function () {
    // Summernote
    $('#summernote').summernote()
})
</script>
</body>
