<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">Super Admin Dashboard</span>
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <%- include('includes/topData.ejs') %>
          <div class="row mb-2">
            <div class="col-sm-6">
              <h4>Super Admin Dashboard</h4>
              <hr />
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <!-- AREA CHART -->
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Total AR & VR Apps</h3>

                      <div class="card-tools">
                        <button
                          type="button"
                          class="btn btn-tool"
                          data-card-widget="collapse"
                        >
                          <i class="fas fa-minus"></i>
                        </button>
                        <button
                          type="button"
                          class="btn btn-tool"
                          data-card-widget="remove"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas
                          id="areaChart"
                          style="
                            min-height: 250px;
                            height: 250px;
                            max-height: 250px;
                            max-width: 100%;
                          "
                        ></canvas>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                  <!-- /.card -->
                </div>
                <!-- /.col (LEFT) -->
                <div class="col-md-6">
                  <!-- LINE CHART -->
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">
                        Total Approved App & Rejected Apps
                      </h3>

                      <div class="card-tools">
                        <button
                          type="button"
                          class="btn btn-tool"
                          data-card-widget="collapse"
                        >
                          <i class="fas fa-minus"></i>
                        </button>
                        <button
                          type="button"
                          class="btn btn-tool"
                          data-card-widget="remove"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="chart">
                        <canvas
                          id="barChart11"
                          style="
                            min-height: 250px;
                            height: 250px;
                            max-height: 250px;
                            max-width: 100%;
                          "
                        ></canvas>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col (RIGHT) -->
              </div>
              <!-- /.row -->
              <div class="row">
                <div class="col-md-6">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">
                        Reviewer and Total App Reviewed
                      </h3>

                      <div class="card-tools">
                        <button
                          type="button"
                          class="btn btn-tool"
                          data-card-widget="collapse"
                          title="Collapse"
                        >
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Reviewer Name</th>
                            <th># App reviewed</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <td>1</td>
                          <td>John Alex</td>
                          <td>
                            <a><i class="fas fa-eye"></i> 20</a>
                          </td>
                          <td class="text-right py-0 align-middle">
                            <div class="btn-group btn-group-sm">
                              <a href="#" class="btn btn-danger"
                                ><i class="fas fa-trash"></i
                              ></a>
                            </div>
                          </td>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Android API Versions</h3>
                      <!-- <button href="" class="btn btn-default" style="float:left"> Add </button> -->
                      <div class="card-tools">
                        <button
                          data-toggle="modal"
                          data-target="#modal-lg"
                          type="button"
                          class="btn btn-tool"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Code Name</th>
                            <th>version</th>
                            <th>API Level</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(androidAPIs.length > 0) { %> <% for(let
                          androidAPI of androidAPIs ) { %>
                          <tr>
                            <td><%= androidAPI.id %></td>
                            <td><%= androidAPI.codeName %></td>
                            <td><%= androidAPI.version %></td>
                            <td><%= androidAPI.API_Level %></td>
                            <td class="text-right py-0 align-middle">
                              <form
                                action="/deleteAndroidAPI/<%= androidAPI.id %>"
                                method="POST"
                              >
                                <div class="btn-group btn-group-sm">
                                  <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                  </button>
                                </div>
                              </form>
                            </td>
                          </tr>
                          <% } %><% } %>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /.container-fluid -->
          </section>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- /.modal -->

    <div class="modal fade" id="modal-lg">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title">Add Questionary</h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/admin.addAndroidAPI" method="POST">
              <label for="codeName">Enter a Code Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Code Name"
                name="codeName"
              />
              <br />
              <label for="version">Enter a Version</label>
              <input
                type="text"
                class="form-control"
                placeholder="Version"
                name="version"
              />
              <br />
              <label for="apiLevel">Enter an API Level</label>
              <input
                type="text"
                class="form-control"
                placeholder="API Level"
                name="apiLevel"
              /><br />

              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
            <!-- /.modal-content -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <%- include('includes/footer.ejs') %>
  <script>
    $(function () {
      var areaChartCanvas = document
        .getElementById("areaChart")
        .getContext("2d");

      var areaChartData = {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
        ],
        datasets: [
          {
            label: "Total VR Apps",
            backgroundColor: "rgba(60,141,188,0.9)",
            borderColor: "rgba(60,141,188,0.8)",
            pointRadius: false,
            pointColor: "#3b8bba",
            pointStrokeColor: "rgba(60,141,188,1)",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(60,141,188,1)",
            data: [28, 48, 40, 19, 86, 27, 90],
          },
          {
            label: "Total AR Apps",
            backgroundColor: "rgba(210, 214, 222, 1)",
            borderColor: "rgba(210, 214, 222, 1)",
            pointRadius: false,
            pointColor: "rgba(210, 214, 222, 1)",
            pointStrokeColor: "#c1c7d1",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40],
          },
        ],
      };

      var areaChartOptions = {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false,
        },
        scales: {
          xAxes: [
            {
              gridLines: {
                display: false,
              },
            },
          ],
          yAxes: [
            {
              gridLines: {
                display: false,
              },
            },
          ],
        },
      };

      // This will get the first returned node in the jQuery collection.
      new Chart(areaChartCanvas, {
        type: "line",
        data: areaChartData,
        options: areaChartOptions,
      });

      //-------------
      //- LINE CHART -
      //--------------
      var lineChartCanvas = document
        .getElementById("lineChart")
        .getContext("2d");
      var lineChartOptions = $.extend(true, {}, areaChartOptions);
      var lineChartData = $.extend(true, {}, areaChartData);
      lineChartData.datasets[0].fill = false;
      lineChartData.datasets[1].fill = false;
      lineChartOptions.datasetFill = false;

      var lineChart = new Chart(lineChartCanvas, {
        type: "line",
        data: lineChartData,
        options: lineChartOptions,
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"
    type="text/javascript"
    defer
  ></script>
</body>
