<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light"
          >ሀገርኛ Appstore | Reviewer</span
        >
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h5>Approved and published Apps Dashboard</h5>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- card -->
              <div class="card">
                <div class="card-body">
                  <div class="card-body p-0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>App Name</th>
                          <th>Status</th>
                          <th>App Language</th>
                          <th>Reviewed At</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <% if(allApprovedApps.length > 0) { %> <% for(let approvedApp of allApprovedApps ) { %>
                          <td>1</td>
                          <td>
                          <img src="<%= approvedApp.appIcon %>" width="50px" height="50px"/><%= approvedApp.appName %>
                         </td>
                          <td><%= approvedApp.appStatus %></td>
                          <td><%= approvedApp.defaultLanguage %></td>
                          <td>
                            <%= moment(approvedApp.createdAt).format('Do MMMM,YYYY'); %>
                          </td>
                        </tr>
                        <% } %><% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('includes/footer.ejs') %>
  </div>
</body>
