<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">ሀገርኛ Appstore | Reviewer</span>
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h3>Public App Cart</h3>
            </div>
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>App Name</th>
                        <th>Status</th>
                        <th>Rolled out At</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <% if(allApps.length > 0) { %> <% for(let app of allApps
                        ) { %>
                        <td><%= app.appID %></td>
                        <td>
                          <img
                            src="<%= app.appIcon %>"
                            width="50px"
                            height="50px"
                          />
                          <%= app.appName %>
                        </td>
                        <td>Roll out</td>
                        <td>
                          <%= moment(app.createdAt).format('Do MMMM, YYYY'); %>
                        </td>
                        <td>
                            <form action="/addToCart/<%= app.appID %>" method="POST">
                                <button
                                  type="submit"
                                  class="btn btn-success"
                                  >Add To Review</button
                                >
                            </form>
                        </td>
                      </tr>
                      <% } %><% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('includes/footer.ejs') %>
  </div>
</body>
